/* container for nav bar */
.container{
    width: 80%;
    margin: 0 auto;
}

/* Nav bar color */
header{
    background: #d4d7c4;
}

/* float fix for nav bar */
.fixfloat ::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

/* Styles nav ul */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Positions nav li */
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;

    position: relative;
}

/* styles nav links */
nav a{
    color: #868f74;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Gives nav links darker color when hovering over */
nav a:hover{
    color: #79816a;
}

/* Styles bar animation over nav links */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #868f74;

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
}

/* Shows bar animation when hovering over nav links*/
nav a:hover::before{
    width: 100%;
}

head{
    background: #f6f9fa;
}

body{
    background: #f6f9fa;
}

h1{
    font-family: 'Poppins', 'sans-serrif';
    text-align: center;
    color: #8496a2;
}

/* Displays & styles grid */
.active-grid{
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 3rem;
    text-align: center;
}

/* Styles grid headers */
.active-grid h3{
    text-align: center;
}

.active-grid img{
    width: 350px;
    height: 300px;
}

.active-grid h3{
    font-family: 'Caveat', cursive;
    color: #687a86;
    border-radius: 25px;
    background: #d4d7c4a5;
}

.active-grid p{
    margin: 1rem;
    font-family: 'Kalam', cursive;
}

.digital-art img{
    width: 350px;
    height: 350px;
}